* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .general {
        display: flex;
        flex-direction: column;
        padding: 0 100px;
        background: white;  
            header {
                margin: 0 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 3em;
                font-size: 20px;
                position: sticky;
                i {
                    padding: 10px;
                    transition: background 0.3s ease-in-out;
                    border-radius: 10px;

                }
                i:hover {
                    cursor: pointer;
                    background: rgb(209, 203, 203);
                    
                }
            }

            /*The result input style*/
            section.resultInput {
                height: 100px; 
                /* border-radius: 20px;  */
                margin-top: 1em;
                cursor: text;
                border: 1px solid black;
                margin-bottom: 1em;
                text-align: center;
            }
            main.buttons {
                display: grid;
                grid-template-columns: repeat(4, 24.5%); /* 4 columns */
                grid-auto-rows: 54.5px;
                place-content: center;
                place-items: center;
                gap: 5px; /* space between buttons */

                button {
                        border: 1px solid black;
                        background: transparent;
                        font-size: 20px;
                        transition: background 0.3s;
                        width: 100%;
                        height: 100%;
                        &:hover {
                            background: rgb(209, 203, 203);
                            cursor: pointer;
                        }
                    }
                    button.add {
                            font-size: 24px;
                            grid-row: span 2; /* if using grid */
                        }
                
            }
    
    }


}